.outer-graph-section-wrapper {
    max-width: 45%;
    min-width: 45%;
    margin-left: 2%;
}

.graph-overview-header-text {
    margin: 0px;
}

.graph-section-wrapper-div {
    width: 100%;
    height: 400px;
    padding: 20px;
    padding-top: 0px;

}
